<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_Rounding>
            <version>0.1.0</version>
        </Aligent_Rounding>
    </modules>
    <global>
        <models>
            <aligent_rounding>
                <class>Aligent_Rounding_Model</class>
                <resourceModel>aligent_rounding_resource</resourceModel>
            </aligent_rounding>
            <aligent_rounding_resource>
                <class>Aligent_Rounding_Model_Resource</class>
            </aligent_rounding_resource>
            <tax>
                <rewrite>
                    <sales_total_quote_subtotal>Aligent_Rounding_Model_Tax_Sales_Total_Quote_Subtotal</sales_total_quote_subtotal>
                </rewrite>
            </tax>
            <salesrule>
                <rewrite>
                    <validator>Aligent_Rounding_Model_SalesRule_Validator</validator>
                </rewrite>
            </salesrule>
        </models>
        <blocks>
            <aligent_rounding>
                <class>Aligent_Rounding_Block</class>
            </aligent_rounding>
        </blocks>
        <helpers>
            <aligent_rounding>
                <class>Aligent_Rounding_Helper</class>
            </aligent_rounding>
        </helpers>
        <events>
            <controller_action_postdispatch>
                <observers>
                    <aligent_rounding>
                        <class>aligent_rounding/observer</class>
                        <method>ControllerActionPostdispatch</method>
                    </aligent_rounding>
                </observers>
            </controller_action_postdispatch>
        </events>
    </global>
</config>